# files to ignore
**/.DS_Store
.env
~$seeds.xlsx
digihub-app
GEMINI.md

# directories to ignore
.idea
.opencode
.vscode
backups
logs
storage
tmp

# executables to ignore
main.exe
crowners-app.exe
crowners-app
